/* 
    Mayana Puri
    mpuri@wesleyan.edu
    Homework 1 : Landing Page 
    COMP 333: Software Engineering
    Prof. Sebastian Zimmeck 
    Due : Friday, 18th of February, 2022
*/

/* 
    It is a good idea to include all styles in a separate Style Sheet such as 
    this one.

    Start styling with the general elements of your page, e.g., body style, 
    pargraph style, ... . Then, you can modify those styles for individual 
    instances using class tags, id tags, ... .
*/

/* 
    You can import a font from Google at https://fonts.google.com/
*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap');



body {background-color: rgb(12, 12, 12);}

h1 {
    font-size: 50px;
  }
  
  h2 {
    font-size: 40px;
  }
  
  p {
    font-size: 20px;
  }

a:link {
    color: rgb(240, 227, 227);
  }
 
  a:visited {
    color: rgb(242, 248, 242);
  }
  

  a:hover {
    color: hotpink;
  }
  
  a:active {
    color: rgb(158, 158, 218);
  }

 











